.list-dashboard {
  padding: 100px 0 50px 200px;
}

@media (max-width: 991.98px) {
  .list-dashboard {
      padding-left: 0;
    }
}

.card-header {
  background-color: #44C5CD;
  color: white;
}

.card-alert {
  background-color: #F77E06;
  color: white;
}
