<div class="list-dashboard">
  <div class="row mb-4">
    <div class="col-md-9">
      <h1 class="h2 border-start ps-2">
        Dashboard
      </h1>
    </div>
  </div>

  <div *ngIf="localStorageUtils.obterIsOng() === 'false' && !quiz.id" class="row mb-2" >
    <div class="col">
      <div class="card">
        <div class="card-body d-flex card-alert">
          <span><i class="far fa-bell mr-3"></i>Preencha o questionário de adoção para realizar adoções.</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <div class="card">
        <div class="card-header text-center">
          <h5>Adoções</h5>
        </div>
        <div class="card-body d-flex justify-content-center">
          <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasetsAdoptions" [labels]="pieChartLabelsAdoptions"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
    </div>

    <div *ngIf="localStorageUtils.obterIsOng() === 'true'" class="col">
      <div class="card">
        <div class="card-header text-center">
          <h5>Animais por espécies</h5>
        </div>
        <div class="card-body d-flex justify-content-center">
          <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasetsSpecies" [labels]="pieChartLabelsSpecies"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="localStorageUtils.obterIsOng() === 'true'" class="row">
    <div class="col">
      <div class="card">
        <div class="card-header text-center">
          <h5>Animais por raças</h5>
        </div>
        <div class="card-body d-flex justify-content-center">
          <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasetsBreeds" [labels]="pieChartLabelsBreeds"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header text-center">
          <h5>Animais por cores</h5>
        </div>
        <div class="card-body d-flex justify-content-center">
          <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasetsColors" [labels]="pieChartLabelsColors"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
    </div>
  </div>

</div>
