<div class="list-adoptions">
  <div class="row mb-4">
    <div class="col-md-9">
      <h1 class="h2 border-start ps-2">
        Adoções
      </h1>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="mb-4">
          <select class="form-control" [formControl]="status" (change)="getAllResource()">
            <option value="Solicitada">Solicitada</option>
            <option value="Aprovada">Aprovada</option>
            <option value="Reprovada">Reprovada</option>
          </select>
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr class="bg-info text-light">
            <th>Animal Solicitado</th>
            <th *ngIf="localStorageUtils.obterIsOng() === 'true'">Solicitado por</th>
            <th *ngIf="localStorageUtils.obterIsOng() === 'false'">Solicitado para</th>
            <th>Data da Solicitação</th>
            <th *ngIf="status.value === 'Aprovada'">Data da Aprovação</th>
            <th *ngIf="status.value === 'Reprovada'">Data da Reprovação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let adoption of resources">
            <td>
              <strong>{{adoption.animal!.name}}</strong>
            </td>
            <td *ngIf="localStorageUtils.obterIsOng() === 'true'">
              <strong>{{adoption.adopter!.name}}</strong>
            </td>
            <td *ngIf="localStorageUtils.obterIsOng() === 'false'">
              <strong>{{adoption.ong!.name}}</strong>
            </td>
            <td>
              <strong>{{adoption.created_at | date:'dd/MM/yyyy'}}</strong>
            </td>
            <td *ngIf="status.value !== 'Solicitada'">
              <strong>{{adoption.updated_at | date:'dd/MM/yyyy'}}</strong>
            </td>
            <td>
              <a *ngIf="localStorageUtils.obterIsOng() === 'true'" [routerLink]="[adoption.adopter!.id, 'visualizar-adodante']" class="btn btn-sm mr-2" placement="bottom" ngbTooltip="Visualizar"><i class="fas fa-eye"></i></a>
              <a *ngIf="localStorageUtils.obterIsOng() === 'false'" [routerLink]="[adoption.animal!.id, 'visualizar-animal']" class="btn btn-sm mr-2" placement="bottom" ngbTooltip="Visualizar"><i class="fas fa-eye"></i></a>
              <button *ngIf="status.value === 'Solicitada' && localStorageUtils.obterIsOng() === 'true'" (click)="alterStatus(adoption.id!, 'Aprovada')" class="btn btn-sm" placement="bottom" ngbTooltip="Aprovar"><i class="fas fa-check"></i></button>
              <button *ngIf="status.value === 'Solicitada' && localStorageUtils.obterIsOng() === 'true'" (click)="alterStatus(adoption.id!, 'Reprovada')" class="btn btn-sm" placement="bottom" ngbTooltip="Reprovar"><i class="fas fa-ban"></i></button>
              <button *ngIf="status.value === 'Solicitada' && localStorageUtils.obterIsOng() === 'false'" (click)="deleteResource(adoption)" class="btn btn-sm" placement="bottom" ngbTooltip="Cancelar"><i class="fas fa-ban"></i></button>
              <button *ngIf="status.value === 'Aprovada'" (click)="gerarPDF(adoption)" class="btn btn-sm" placement="bottom" ngbTooltip="Emitir Certificado"><i class="fas fa-medal"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize.value"
          (pageChange)="getAllResource()" >
        </ngb-pagination>
        <select class="form-select form-select-sm rounded col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2" [formControl]="pageSize" (ngModelChange)="getAllResource()">
          <option value="5">5 itens</option>
          <option value="10">10 itens</option>
          <option value="15">15 itens</option>
        </select>
      </div>
    </div>
  </div>
</div>
