<div class="form-avatar">
  <div class="row mb-4">
    <div class="col-md-9">
      <h1 class="h2 border-start ps-2">
        Avatar do Animal
      </h1>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <form>
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <div class="custom-file">
            <input type="file" accept="image/jpeg,image/png" class="custom-file-input" id="avatar"
              (change)="fileChangeEvent($event)">
            <label data-browse="Procurar" style="width: 400px" class="custom-file-label"></label>
            <span *ngIf='imagemNome'><br>{{ imagemNome }}<br></span>
          </div>

          <div *ngIf='imagemNome' class="row">
            <div class="col col-md-6">
              <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
                [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="4 / 3" [resizeToWidth]="256"
                [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="true" [canvasRotation]="canvasRotation"
                [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png"
                (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
                (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>
            <div class="col col-md-6">
              <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <button [disabled]="!imagemNome" type="button" (click)="addAvatar()" class="btn btn-md mt-2">Salvar</button>
  </form>
</div>
