<div class="row d-flex justify-content-center align-items-center container-login h-100">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
    <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>
    <img src="../../../../assets/image_login.png" alt="imagem login" class="img-fluid mt-3">
  </div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xl-2">
    <div class="mb-3">
      <img src="../../../../assets/logo_3.png" alt="logo" class="img-fluid">
    </div>

    <form [formGroup]="resourceForm" (submit)="submitForm()">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name" primeiraLetraMaiuscula>
          <app-form-field-error [form-control]="$any(resourceForm).get('name')"></app-form-field-error>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email">
          <app-form-field-error [form-control]="$any(resourceForm).get('email')"></app-form-field-error>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="password">Senha</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <app-form-field-error [form-control]="$any(resourceForm).get('password')"></app-form-field-error>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="passwordConfirmation">Confirmação de senha</label>
          <input type="password" class="form-control" id="passwordConfirmation" formControlName="passwordConfirmation">
          <app-form-field-error [form-control]="$any(resourceForm).get('passwordConfirmation')"></app-form-field-error>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="isOng" id="isOng" (change)="validateDocument()">
            <label class="form-check-label" for="isOng">
              Sou ONG
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12" *ngIf="resourceForm.get('isOng')?.value === false">
          <label for="cpf">CPF</label>
          <input type="text" class="form-control" id="cpf" formControlName="cpf" cpf
            [textMask]="{mask: MASKS['cpf'].textMask}">
          <app-form-field-error [form-control]="$any(resourceForm).get('cpf')"></app-form-field-error>
        </div>
        <div class="form-group col-md-12" *ngIf="resourceForm.get('isOng')?.value === true">
          <label for="cnpj">CNPJ</label>
          <input type="text" class="form-control" id="cnpj" formControlName="cnpj" cnpj
            [textMask]="{mask: MASKS['cnpj'].textMask}">
          <app-form-field-error [form-control]="$any(resourceForm).get('cnpj')"></app-form-field-error>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn w-100 rounded-pill criar-conta"><i class="fas fa-user-plus mr-1"></i>Salvar</button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <a class="btn w-100 rounded-pill voltar" [routerLink]="['/users/login']"><i
              class="fas fa-chevron-left mr-1"></i>Voltar</a>
        </div>
      </div>
    </form>
  </div>
</div>

