<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/vacinas">Vacinas</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{pageTitle}}
    </li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col">
    <h1 class="h2 border-start ps-2">
      {{pageTitle}}
    </h1>
  </div>
  <div class="col">
    <a routerLink="/vacinas" class="btn btn-light float-end"> << Voltar</a>
  </div>
</div>

<form [formGroup]="vaccineForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre a vacina
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          <div class="text-danger" *ngIf="vaccineForm.get('name')?.invalid && vaccineForm.get('name')?.touched">
            <strong *ngIf="vaccineForm.get('name')?.errors?.['required']">Dado obrigatório</strong>
            <strong *ngIf="vaccineForm.get('name')?.errors?.['minlength']">Deve ter no mínimo 2 caracteres</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>

  <button [disabled]="submittingForm || vaccineForm.invalid" type="submit" class="btn btn-primary btn-lg float-end mt-3">Salvar</button>
</form>
