<div class="list-species">
  <div class="row mb-4">
    <div class="col-md-9">
      <h1 class="h2 border-start ps-2">
        Espécies
      </h1>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="mb-3 row">
          <div class="col-xs-3 col-sm d-flex">
            <input id="table-filtering-search" placeholder="Pesquisar" class="form-control mr-1" type="text"
              [formControl]="filter" (keyup.enter)="getAllResource()" />
            <button class="btn btn-sm" type="button" (click)="getAllResource()"><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="mb-4">
          <a [routerLink]="['novo']" class="btn btn-md btn-novo">Novo</a>
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr class="bg-info text-light">
            <th>Espécie</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let specie of resources">
            <td>
              <strong>{{specie.name}}</strong>
            </td>
            <td>
              <a [routerLink]="[specie.id, 'editar']" class="btn btn-sm mr-2" placement="bottom" ngbTooltip="Editar"><i class="fas fa-pencil-alt"></i></a>
              <button (click)="deleteResource(specie)" class="btn btn-sm" placement="bottom" ngbTooltip="Deletar"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize.value"
          (pageChange)="getAllResource()" >
        </ngb-pagination>
        <select class="form-select form-select-sm rounded col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2" [formControl]="pageSize" (ngModelChange)="getAllResource()">
          <option value="5">5 itens</option>
          <option value="10">10 itens</option>
          <option value="15">15 itens</option>
        </select>
      </div>
    </div>
  </div>
</div>
