.form-animals {
  padding: 100px 0 50px 200px;
}

@media (max-width: 991.98px) {
  .form-animals {
    padding-left: 0;
  }
}

.btn {
  background-color: #44C5CD;
  color: white
}

.app-session-modal-backdrop {
  display: none !important;
}
