<div class="list-animals">
  <div class="row mb-4">
    <div class="col-md-9">
      <h1 class="h2 border-start ps-2">
        Animais
      </h1>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <form>
          <div class="mb-3 row">
            <div class="col-xs-3 col-sm d-flex">
              <input id="table-filtering-search" placeholder="Pesquisar" class="form-control mr-1" type="text"
                [formControl]="filter" primeiraLetraMaiuscula />
              <button class="btn btn-sm" type="button" (click)="getAllResource()"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        <div class="mb-4">
          <a [routerLink]="['novo']" class="btn btn-md btn-novo">Novo</a>
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr class="bg-info text-light">
            <th>Animal</th>
            <th>Espécie</th>
            <th>Raça</th>
            <th>Cor</th>
            <th>Sexo</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let animal of resources">
            <td>
              <strong>{{animal.name}}</strong>
            </td>
            <td>
              <strong>{{animal.specie?.name}}</strong>
            </td>
            <td>
              <strong>{{animal.breed?.name}}</strong>
            </td>
            <td>
              <strong>{{animal.color?.name}}</strong>
            </td>
            <td>
              <strong>{{animal.sex}}</strong>
            </td>
            <td>
              <a [routerLink]="[animal.id, 'editar']" class="btn btn-sm mr-2"><i class="fas fa-pencil-alt"></i></a>
              <button (click)="deleteResource(animal)" class="btn btn-sm"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize.value"
          (pageChange)="getAllResource()" >
        </ngb-pagination>
        <select class="form-select form-select-sm rounded col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2" [formControl]="pageSize" (ngModelChange)="getAllResource()">
          <option value="5">5 itens</option>
          <option value="10">10 itens</option>
          <option value="15">15 itens</option>
        </select>
      </div>
    </div>
  </div>
</div>
