.entrar {
  background-color: #44C5CD;
  border-color: #44C5CD;
  color: white;
}

.conta-google {
  background-color: white;
  border-color: black;
  color: black;
}

.criar-conta {
  background-color: #F77E06;
  border-color: #F77E06;
  color: white;
}

